---
---

@charset "utf-8";

// ------------------------------
// # もくじ
// ------------------------------
// - 変数定義
// - 関数定義
// - 共通
// - 包括、読込画面
// - ヘッダ
// - コンテンツ
// - フッタ
// ------------------------------

// ------------------------------
// # 変数定義
// ------------------------------

// ------------------------------
// # 関数定義
// ------------------------------

// vendorprefix
@mixin css3($prop, $val) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$prop}: $val;
    }
}

// px & rem 併記
@mixin pxrem($prop, $val) {
    $valpx: '';
    $valrem: '';
    @each $catVal in $val {
        $valpx: $valpx + ' ' + $catVal + 'px';
        $valrem: $valrem + ' ' + ($catVal / 10) + 'rem';
    }
    #{$prop}: #{$valpx};
    #{$prop}: #{$valrem};
}

// ------------------------------
// # 共通
// ------------------------------

// ## body & block elements

body, div, section, article, 
header, footer, nav, aside, 
h1, h2, h3, h4, h5, h6, p, 
form, table, blockquote,
ul, ol, dl, li, dt, dd {
    font-size: 14px;
    line-height: 1.5;
}

body {
    background: #fff;
}

body.sub {
    overflow: hidden;
}

// ## anchor

a[href] {
    text-decoration: none;
    color: #369;
}

a[href]:visited {
    color: #689;
}

a[href]:hover {
    text-decoration: underline;
}

a[href]:active {
    color: #963;
}

// ## clearfix

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


// ------------------------------
// # 包括、読込画面
// ------------------------------

// ## tumblr操作パネル削除

.tmblr-iframe {
    display: none;
}

// ## 読込画面

#loading {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &:after {
        content: "loading";
        display: block;
        width: 100px;
        height: 20px;
        margin: -10px 0 0 -50px;
        text-align: center;
        @include pxrem(font-size, 10);
        font-family: "Roboto";
        @include pxrem(letter-spacing, 1);
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: blurloop 3s infinite;
    }

}

@keyframes blurloop {
    0% {
        @include css3(filter, blur(0));
    }
    50% {
        @include css3(filter, blur(5px));
    }
    100% {
        @include css3(filter, blur(0));
    }
}

// ## 包括

.body-border {
    background: #fff;
    position: fixed;
    z-index: 10;
}

#border-left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
}

#border-right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
}

#border-top {
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

#border-bottom {
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
}


// ------------------------------
// # ヘッダ
// ------------------------------

#header-wrap {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 20;
}

#header {
    display: block;
    margin: 0 60px;
    font-family: "Roboto";
    position: relative;

    .blog-title,
    .description,
    .nav-menu {
        position: absolute;
    }

    .blog-title {
        @include pxrem(font-size, 20);
        @include pxrem(letter-spacing, 6);
        top: 7px;
    }

    .blog-title a {
        color: #000;
    }

    .description {
        @include pxrem(font-size, 10);
        @include pxrem(letter-spacing, 2);
        top: 35px;
    }

    .nav-menu {
        right: 0;
        top: 21px;

        .inline-nav {
            height: 18px;
            text-align: right;
            border-right: 1px solid #999;

            .nav-item {
                display: inline-block;
                @include pxrem(padding, 0 12);
                @include pxrem(font-size, 12);
                border-left: 1px solid #999;

                .label {
                    color: #000;
                    @include pxrem(letter-spacing, 1);

                    &:hover {
                        background: #ff0;
                    }

                }

            }

        }

    }

}



#content-wrap {
    padding: 60px;
}

// ## top visual

.header-image-wrapper {
    background: #000;
    overflow: hidden;
    position: relative;

    .header-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        position: relative;

        img {
            width: auto;
            height: 100%;
        }

    }

    .scroll {
        display: block;
        width: 100px;
        margin-left: -50px;
        padding-top: 30px;
        text-align: center;
        @include pxrem(font-size, 10);
        font-family: "Roboto";
        @include pxrem(letter-spacing, 1);
        color: #fff;
        position: absolute;
        bottom: 20px;
        left: 50%;

        &:before {
            content: "";
            box-sizing: border-box;
            width: 16px;
            height: 24px;
            margin-left: -8px;
            border: 2px solid rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 50%;
        }

        &:after {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 100%;
            margin-left: -2px;
            background: rgba(255, 255, 255, 0.3);
            position: absolute;
            top: 6px;
            left: 50%;
            animation: updw 2s infinite;
        }

    }

}

@keyframes updw {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 8px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


// ------------------------------
// # コンテンツ
// ------------------------------

#posts {
    padding: 40px;

    .posts-headline {
        margin: 0 20px;
        @include pxrem(padding-bottom, 14);
        @include pxrem(font-size, 14);
        font-family: "Roboto";
        @include pxrem(letter-spacing, 1);
        position: relative;

        &:after {
            content: "";
            @include pxrem(width, 7);
            @include pxrem(height, 1);
            background: #000;
            position: absolute;;
            bottom: 0;
            left: 0;
        }

    }

    div article {
        display: block;

        &.active {
            width: 100%;
            margin-bottom: 120px;
        }

        .post-wrapper {
            margin: 20px;
            background: #fff;
            border-bottom: 1px solid #999;
        }

    }

    .grid #infscr-loading {
        height: 0;
        overflow: hidden;

        article.grid-item {
            visibility: hidden;
        }

        article .post-anchor {
            display: block;
            line-height: 0;
            color: #000;

            &:hover {
                text-decoration: none;
            }

        }

    }

}




.post-anchor {
    .bwrap {
        display: block;
        line-height: 0;
        background: #000;
        position: relative;
        overflow: hidden;

        .bt {
            width: 100%;
            height: 7px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateY(-7px);
            transition: .2s transform;
        }

        .br {
            width: 7px;
            height: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            transform: translateX(7px);
            transition: .2s transform;
        }

        .bb {
            width: 100%;
            height: 7px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            transform: translateY(7px);
            transition: .2s transform;
        }

        .bl {
            width: 7px;
            height: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateX(-7px);
            transition: .2s transform;
        }

        img {
            opacity: 0.85;
            position: relative;
            z-index: 1;
        }

    }

    &:hover .bwrap {
        .bt, .br, .bb, .bl {
            transform: translateY(0) translateX(0);
        }

    }

}

.post .small img {
    width: 100%;
    height: auto;
}

.post .large img {
    width: 3840px;
    height: auto;
}

.post-content .link-wrapper,
.post-content .short {
    background: #444;
    color: #fff;
}

.post-content .title {
    @include pxrem(margin, 0 12);
    @include pxrem(padding, 12 0);
    @include pxrem(font-size, 14);
    font-family: "Roboto";
    @include pxrem(letter-spacing, 1);
    position: relative
}
.post-content .title:after {
    content: "";
    @include pxrem(width, 7);
    @include pxrem(height, 1);
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.post-content .link-wrapper .link {
    display: block;
    color: #fff;
}

.post-content .link-wrapper .link .link-text {
    @include pxrem(padding, 12);
}

.post-content .link-wrapper .link .link-text .link-host {
    @include pxrem(font-size, 10);
}

.post-content .link-wrapper .link .link-text .link-title {
    @include pxrem(font-size, 14);
}

.post-content .link-wrapper .link .link-text .link-excerpt {
    @include pxrem(font-size, 12);
}

.post-content .caption ,
.post-content .body-text,
.post-content .source {
    @include pxrem(padding, 12);
}

.post-content .caption p,
.post-content .body-text p,
.post-content .source {
    @include pxrem(font-size, 12);
    line-height: 1.5;
}

.post-content .short {
    @include pxrem(padding, 12);
    position: relative;
}

.post-content .short:after {
    content: "”";
    @include pxrem(font-size, 60);
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 0;
    @include pxrem(right, 10);
}

.post-footer {
    @include pxrem(margin, 0 12);
    @include pxrem(padding, 12 0);
    position: relative;
}

.post-footer:before {
    content: "";
    width: 7px;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.date-note-wrapper {
    @include pxrem(font-size, 10);
    font-family: "Roboto";
    @include pxrem(letter-spacing, 1);
    color: #666;
}

.pop .shere {
    display: block;
    width: 16px;
    height: 16px;
    background: #888;
}

.pop .pop-menu {
    display: none;
}


// ------------------------------
// # フッタ
// ------------------------------

#footer-wrap {
}

#social-nav {
    width: 16px;
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 20;
}

#social-nav ul li {
    line-height: 0;
    margin-bottom: 4px;
}

#copyright {
    height: 10px;
    padding: 47px 0 0 3px;
    line-height: 1;
    @include pxrem(font-size, 10);
    font-family: "Roboto";
    @include pxrem(letter-spacing, 1);
    @include css3(transform, rotate(-90deg));
    transform-origin: left top;
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.az-zoom {
    box-shadow: none !important;
    width: 256px !important;
    height: 256px !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 50% !important;
}

.fadeOut {
    -webkit-animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;
    animation: fadeOut .5s cubic-bezier(.55,0,.1,1) both;
}
@-webkit-keyframes fadeOut { to { opacity: 0; -webkit-transform: translateY(50px); }}
@keyframes fadeOut { to { opacity: 0; -webkit-transform: translateY(50px); transform: translateY(50px); }}

.fadeIn {
    -webkit-animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;
    animation: fadeIn .5s cubic-bezier(.55,0,.1,1) both;
}
@-webkit-keyframes fadeIn { from { opacity: 0; -webkit-transform: translateY(50px); }}
@keyframes fadeIn { from { opacity: 0; -webkit-transform: translateY(50px); transform: translateY(50px); }}

@media only screen and (max-width: 640px){

    #loading {
        display: none;
    }

    #border-top {
        height: 100px;
    }

    #border-right,
    #border-bottom,
    #border-left {
        display: none;
    }

    #header {
        margin: 0 20px;
    }


    #header .nav-menu {
        left: 0;
        top: 60px;
    }

    #header .nav-menu .inline-nav {
        text-align: left;
        border-right: none;
        border-left: 1px solid #999;
    }

    #header .nav-menu .inline-nav .nav-item {
        border-right: 1px solid #999;
        border-left: none;
    }

    .header-image-wrapper {

        .header-image {
            background: none;

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 100vh;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                position: fixed;
                top: 0;
                left: 0;
            }

        }

    }

    #content-wrap {
        padding: 100px 0 0;
    }

    #posts {
        padding: 40px 0;
    }

    #footer {
        padding: 0 20px 20px;
    }

    #social-nav {
        display: inline-block;
        width: auto;
        position: static;
    }

    #social-nav ul li {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 0;
    }

    #copyright {
        display: inline-block;
        padding: 0;
        @include css3(transform, none);
        position: static;
    }

}
